
  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


body {
    font-family: 'Anton', sans-serif;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#one{
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    color: #fff;
}

.sign-in-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    border: 2px solid #ff4656;
}

.modal-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid #ff4656;
}

@media (max-width : 767px) {
    #one{
        background: url('../images/PhWallpaper.jpg') center/cover no-repeat;
    }
}

@media (min-width: 768px) {
    #one{
        background: url('../images/logobg.jpg') center/cover no-repeat;
    }
  }

#two {
    background-color: #0f1923;
}

h1 , h2 , h3 , h4 , h5 , h5{
    font-family: 'Anton', sans-serif;
}

.country-flag{
    max-width: 30px;
    max-height: 18px;
}

.carousel-control-prev,
.carousel-control-next {
    visibility: hidden;
}

span , h2{
    color: #ff4656;
}